body .central {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .centralCreatetUser {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .centralchangePsw {
	width: auto;
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .centralEditUser {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .centralGastos {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 50%;
}

body .centralProd {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 50%;
}

body .centralGestGastos {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 50%;
}

body .tablaProd {
	width: 590px;
	height: auto;
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 2%;
}

body .tablaProd tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

body .tablaGastos {
	width: 590px;
	height: auto;
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 2%;
}

body .tablaGastos tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}



.buttonsEditProdAct{
	position: absolute;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10%;
}

.buttonsSavePsw{
	position: absolute;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10%;
}

.buttonsEditProdEst{
	position: absolute;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 20%;
}

.buttonsEditProdCancel{
	position: absolute;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 30%;
}

.buttonResetPswd{
	margin-top: 10px;
}

.buttonResetPswd{
	margin-top: 10px;
}


.buttonResetPswd{
	margin-top: 10px;
}

body .botonNuevoUsuario {
	width: 200px;
	position: relative;
	z-index: 100000;
	left: 52%;
	top: 38%;
	transform: translate(-50%, -50%);
	margin-bottom: 4%;
}

body .tablaAdmin {
	width: 720px;
	height: auto;
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .tablaAdmin tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

body .botonCrearProducto {
	width: 200px;
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 4%;
}

body .tablaProductos {
	width: 850px;
	height: 300px;
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .tablaProductos tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

body.fondo {
	background-color: #70B9F4;
}

body .posTitulo {
	width: 100%;
	position: absolute;
	z-index: 100000;
	left: 48%;
	top: 7%;
	transform: translate(-50%, -50%);
	margin: 2%;
}

body .central .custom-form.p-4 {
	width: 350px;
	padding-top: 2rem;
	background-color: #FFFFFF;
	margin: 70px;
	border: 2.5px solid;
	border-radius: 20px;
	border-color: #574727;
	position: relative;
	margin-top: 20%;
}

body .encabezado {
	background-color: #6b81a4;
	height: 200px;
	position: relative;
}

body .encabezadoPrinSup {
	background-color: #6b81a4;
	height: 130px;
	position: relative;
}

body .encabezadoPrinInf {
	background-color: #b4cbf0;
	height: 30px;
	position: relative;
}

body .encabezadoPrinInflet {
	font-size: 20px;
}

body .central .btn-primary {
	margin: 20px auto;
	display: block;
	background-color: #6b81a4;
	border-color: #6b81a4;
	height: 50px;
	width: 100%;
}

body .custom-form.p-4:before {
	content: '';
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	background-image: url('../../images/login.png');
	width: 100px;
	height: 100px;
	background-size: 100px;
}

body .central .custom-form.p-4 .gifInicio {
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

body .central .custom-form.p-4 .form-group:first-child {
	margin-top: 2rem;
}


body .central .buttonRef{
	margin: 10px;
}

body .central .buttonCancel{
	margin: 10px;
}

body .central .buttonInsProd{
	margin: 10px;
}

.numpad {
	width: 80px;
	height: 80px;
	font-size: 30px;
	margin: 4px;
}

input#dateTime {
	width: 230px;
}

.limpiar {
	font-size: 20px;
}

.foot {
	margin-top: 30px;
	margin-bottom: 10px;
}

.endButton {
	width: 300px;
	height: 50px;
	font-weight: bold;
}

.shiftButtons {
	text-align: center;
}

.encabezadoPrinInfVentas{
	background-color: #b4cbf0;
	height: 30px;
	position: relative;
	margin-bottom: 20px;
}

body .container .row .col .form-control{
	width: 200px;
	height: auto;
	padding: 2px;
}

body .container .row .col .labelsVentas{
	margin-top: 5px;
	margin-bottom: 2px;
}

.tableroNumVentas{
	margin: 20px;
}

.btnAddGasto{
	position: relative;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 2%;
	margin-top: 21%;

}

.btnRegGasto{
	position: relative;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5%;
}

.campTipoGasto{
	margin: 1px;
}

.campCodGasto{
	margin: 1px;
}

.margLeftTitulos{
	margin-left: 2%;
}

.textColor{
	text-decoration-color: #6b81a4;
}

span:hover {
	cursor: pointer;
}

li img {
	height: 10px;
	width: 10px;
}

li img:hover {
	cursor: pointer;
}

.filasGastos{
	margin-top: 2%;
}

.imgCarga{
	position: relative;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerFormInsProd{
	position: absolute;
	z-index: 100000;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerFormEditProd{
	position: absolute;
	z-index: 100000;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btnInsProd{
	position: absolute;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10%;
}

.btnCanelProd{
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	margin-top: 10%;
}

.btnAddProd{
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 2%;
}

.btnRegProd{
	position: relative;
	z-index: 100000;
	left: 49%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5%;
}

.tipoProd{
	position: relative;
	z-index: 100000;
	left: 75.25%;
	transform: translate(-50%, -50%);
	margin-top: 4%;
}

.selTipoProd{
	position: relative;
	z-index: 100000;
	left: 17%;
	transform: translate(-50%, -50%);
	margin-top: 8.6%;
}

.btnsEditUser{
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 2%;
}

.labelsEdituser{
	margin-top: 5px;
	margin-bottom: 2px;
}

.inputsEditUser{
	position: relative;
	z-index: 100000;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tablaEditUser {
	width: 532px;
	position: relative;
	z-index: 100000;
	left: 56%;
	top: 45%;
	transform: translate(-50%, -50%);
	margin-top: 2%;
	margin-bottom: 2%;
	table-layout: fixed;
}

.posTitEditUsr {
	position: relative;
	z-index: 100000;
	top: -20%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 2%;
	margin-bottom: 2%;
}

body .tablaResumVentas {
	width: 1000px;
	position: relative;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 2%;
}

body .tablaResumVentas tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

.containerVentasReview{
	margin-top: 2%;
}