body .central {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .centralEditUser {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 70%;
}

body .centralEditUser {
	position: absolute;
	margin: 20px;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 70%;
}

body .centralGastos {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .centralProd {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 50%;
}

body .centralGestGastos {
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 50%;
}
/* 
body .tablaProd {
	width: 900px;
	height: 300px;
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 51%;
	transform: translate(-50%, -50%);
} */

body .tablaProd tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}


body .tablaGastos {
	width: 500px;
	height: 300px;
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 110%;
	transform: translate(-50%, -50%);
}

body .tablaGastos tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

.buttonsEditProd{
	margin-top: 10px;
}

.buttonResetPswd{
	margin-top: 10px;
}

.buttonResetPswd{
	margin-top: 10px;
}


.buttonResetPswd{
	margin-top: 10px;
}

body .botonNuevoUsuario {
	width: 200px;
	position: absolute;
	z-index: 100000;
	left: 47%;
	top: 20%;
	transform: translate(-50%, -50%);
	margin: 50px;
}

body .tablaAdmin {
	width: 900px;
	height: 300px;
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 51%;
	transform: translate(-50%, -50%);
}

body .tablaAdmin tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

body .botonCrearProducto {
	width: 200px;
	position: absolute;
	z-index: 100000;
	left: 45%;
	top: 20%;
	transform: translate(-50%, -50%);
	margin: 50px;
}

body .tablaProductos {
	width: 1000px;
	height: 300px;
	position: absolute;
	z-index: 100000;
	left: 55%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body .tablaProductos tr:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}

body.fondo {
	background-color: #b4cbf0;
}

body .central .custom-form.p-4 {
	width: 350px;
	padding-top: 2rem;
	background-color: #b4cbf0;
	margin: 70px;
	border: 2.5px solid;
	border-radius: 20px;
	border-color: #574727;
	position: relative;
}

body .encabezado {
	background-color: #6b81a4;
	height: 200px;
	position: relative;
}

body .encabezadoPrinSup {
	background-color: #6b81a4;
	height: 130px;
	position: relative;
}

body .encabezadoPrinInf {
	background-color: #b4cbf0;
	height: 30px;
	position: relative;
}

body .encabezadoPrinInflet {
	font-size: 20px;
}

body .central .btn-primary {
	margin: 20px auto;
	display: block;
	background-color: #6b81a4;
	border-color: #6b81a4;
	height: 50px;
	width: 100%;
}

body .custom-form.p-4:before {
	content: '';
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	background-image: url('../../images/login.png');
	width: 100px;
	height: 100px;
	background-size: 100px;
}

body .central .custom-form.p-4 .gifInicio {
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 100000;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

body .central .custom-form.p-4 .form-group:first-child {
	margin-top: 2rem;
}


body .central .buttonRef{
	margin: 10px;
}

body .central .buttonCancel{
	margin: 10px;
}

body .central .buttonInsProd{
	margin: 10px;
}

